
<h1><%= @task[:title] %></h1>
<h2><%= @task[:details] %></h2>
<h2><%= @task[:completed] %></h2>

<%= link_to "Go to all tasks", tasks_path %>
<%= link_to "Delete", task_path(@task), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Edit", edit_task_path(@task) %>
